[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group CypherOS Developers
[access "refs/for/refs/*"]
	read = group CypherOS Developers
	push = group CypherOS Developers
	label-Code-Review = -2..+2 group CypherOS Developers
	label-Verified = -1..+1 group CypherOS Developers
	rebase = group CypherOS Developers
	removeReviewer = group CypherOS Developers
	submit = group CypherOS Developers
[access "refs/heads/*"]
	read = group CypherOS Developers
	create = group CypherOS Developers
	push = +force group CypherOS Developers
	pushMerge = group CypherOS Developers
[access "refs/tags/*"]
	push = +force group CypherOS Developers
	createTag = group CypherOS Developers
	createSignedTag = group CypherOS Developers
